---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPost from "@/components/SeoPost.astro";

import { formatDate } from "@/lib/util";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout>
  <SeoPost slot="head" entry={entry} />
  <section class="border-b border-gray-300 p-3 sm:p-6">
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.imageAlt || ""}
          class="mb-12 h-auto w-full"
          draggable="false"
        />
      )
    }
    <div class="flex items-end">
    <h1
      class="text-[36px] leading-snug font-bold text-balance text-black dark:text-white flex-grow"
    >
      {entry.data.title}
    </h1>
    <p class="text-muted-text dark:text-dark-muted-text mt-3 text-right post-date">
      {formatDate(entry.data.publicationDate)}
    </p>
    </div>
    <div class="prose mx-auto">
      <Content />
    </div>
  </section>
</BaseLayout>

<style>
  .post-date {
    margin-bottom: 1.5rem;
  }
</style>