---
import BaseLayout from "@/layouts/BaseLayout.astro"

import Posts from "@/components/Posts.astro"
import SeoPage from "@/components/SeoPage.astro"
---

<BaseLayout>
  <SeoPage slot="head" title="Blog" />
  <section class="border-b border-gray-300 p-5 md:p-8">
    <Posts />
  </section>
</BaseLayout>
