---
import SimpleModal from 'astro-simple-modal'
---

<button type="button" id="big-content-open-btn" class="
  text-white bg-gray-800 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer">
  Big content
</button>

<SimpleModal id="big-content">
  <div style={{
    textAlign: "end",
    marginBottom: ".5rem"
  }}>
    <button type="button" id="big-content-close-btn" class="
  text-white bg-gray-800 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer">Close modal</button>
  </div>
  <div class="big-content-container">
    <div class="div-pattern" style={{
      width: '2500px',
      marginBottom: "1rem"
    }}>
      Very wide box
    </div>
    <div class="div-pattern" style={{
      height: '2500px',
      width: 'fit-content',
      margin: "0 auto"
    }}>
      Very tall box
    </div>
  </div>
</SimpleModal>

<script>
  import {modalHandler} from "astro-simple-modal"

  document.getElementById('big-content-open-btn')?.addEventListener('click', () => {
    modalHandler.open('big-content')
  })

  document.getElementById('big-content-close-btn')?.addEventListener('click', () => {
    modalHandler.close('big-content')
  })
</script>

<style>
  .big-content-container {
    max-height: 80vh;
    max-width: 90vw;
    overflow-x: auto;
    color: black;
  }

  .div-pattern {
    padding: 1rem;
    border-radius: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cline x1='0' y1='4' x2='4' y2='0' stroke='lightgray' stroke-width='1'/%3E%3C/svg%3E");
    background-repeat: repeat;
  }
</style>