---
import SimpleModal from 'astro-simple-modal'
---

<button type="button" id="modal-demo-2" class="
  text-white bg-gray-800 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer">
  Modal with custom styles
</button>

<SimpleModal id={125} styles={{
  backgroundOpacity: 0.8,
  transitionDuration: '.8s',
  backgroundColor: '#042940',
  contentBackgroundColor: '#DBF227',
  contentPadding: '3rem 4rem',
  borderRadius: '9999px',
  color: '#005C53'
}}>
  <h1>Custom styles</h1>
  <p>Styles customized as:</p>
  <ul>
    <li>backgroundOpacity: 0.8</li>
    <li>transitionDuration: .8s</li>
    <li>contentBackgroundColor: #DBF227</li>
    <li>backgroundColor: #042940</li>
    <li>contentPadding: 1rem 3rem</li>
    <li>borderRadius: 9999px</li>
    <li>color: #005C53
    </li>
  </ul>
</SimpleModal>

<script>
  import {modalHandler} from "astro-simple-modal"

  document.getElementById('modal-demo-2')?.addEventListener('click', () => {
    modalHandler.open(125)
  })
</script>