---
import Global from "../layout/Global.astro"
import { Image } from "astro:assets"
console.log(Image);

---

<Global>
	<section class="main p-3">
		<h2>Biography</h2>
	
		<p>
			Wen Wen is a conceptual artist who delves into kinectic sculpture and
			contemporary performance. Their works are inspired by ecological challenges,
			debates of social equality, and contemplations over the international
			political landscape.
		</p>
	
		<p>
			After studying at Shanghai University of Finance and Economics, and The
			Bartlett School of Architecture, University College London, they now
			continues researches and trans-disciplinary practice in a nomadic fashion,
			channeling eccentricity into deadly aesthetics.
		</p>
	
		<h2>Contact</h2>
	
		<p>For enquiry please email</p>
	
		<p>studio@hellwoodwen.com</p>
	</section>
</Global>