---
import Global from "../layout/Global.astro"
---

<Global>
	<section class="main p-3">
		<h2>Events and Exhibitions</h2>

		<h3>Dreamscape</h3>
		<p>
			Ridley Road Social Club, 89 Ridley Road, Dalston, London E8 2NH<br />
			<span class="date">26/02/2022 - 10/03/2022</span>
		</p>

		<h3>Cement Park Live House 100TH LONDON</h3>
		<p>
			Ridley Road Social Club, 89 Ridley Road, Dalston, London E8 2NH<br />
			<span class="date">30/08/2020</span>
		</p>

		<h3>Present Revisit</h3>
		<p>
			‘Love is Not for Sale’, Page Green Road, London N15 4PG<br />
			<span class="date">15/02/2020</span>
		</p>

		<h3>Present Revisit</h3>
		<p>
			‘Fifteen Show’, 22 Gordon St., Bloomsbury, London WC1H 0QB<br />
			<span class="date">13/12/2019</span>
		</p>

		<h3>Rope Dart (Martial Arts); One Poi Dance</h3>
		<p>
			Kulturanker Kunstfest der Modern, Stadthalle, Magdeburg<br />
			<span class="date">15/09/2019</span>
		</p>

		<h3>Semi-Conductivity</h3>
		<p>
			White Post Cafe, Building4, Schwarts Wharf, 92 White Post Ln, London E9
			5EN<br />
			<span class="date">19/06/2019</span>
		</p>

		<h3>Poi Dance Improvisation</h3>
		<p>
			‘Sense’ #5: Experiencing Colour, Grow Hackney, London E9 5LN<br />
			<span class="date">23/05/2019</span>
		</p>

		<h3>Evolvement</h3>
		<p>
			‘Brain Fair’, Expo Garden, 388 Bansongyuan Road, Huangpu District,
			Shanghai<br />
			<span class="date">22/09/2018</span>
		</p>

		<h3>Live Performance</h3>
		<p>
			'Infringment', Mao Electronic, Shanghai<br />
			<span class="date">27/07/2018</span>
		</p>

		<h3>Poi Dance Improvisation</h3>
		<p>
			‘ReCharge’, Mao Live House, Shanghai<br />
			<span class="date">15/12/2017</span>
		</p>

		<h3>Poi Performance</h3>
		<p>
			Dragon Burn Fundraising, The Pearl, Shanghai<br />
			<span class="date">27/04/2017</span>
		</p>

		<h2>Collaborators</h2>
		<p>
			<strong>Sarah Ali</strong> - https://www.sarahaliportfolio.com<br />
		</p>
		<p>
			<strong>John Lucy</strong> - https://jklucy.com/<br />
		</p>
		<p>
			<strong>Fu QianHua</strong> - https://www.fuqianhua.com/<br />
		</p>
		<p>
			<strong>Quy Phung Ta</strong> - https://quyphungta.com/<br />
		</p>
		<p>
			<strong>Cement Park</strong> - https://1225675665.wixsite.com/cementpark
		</p>
	</section>
</Global>

<style>
	h3{
		margin-bottom: 0;
	}

	span.date{
		font-style: italic;
		font-size: .9rem;
		padding-left: .5rem;
	}
</style>