---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <section class="border-b border-gray-300 p-5 md:p-8">
    <h1>Hi! I'm Henry Corredor.</h1>
    <p>I'm a curious and idealistic Colombian, passionate about technology, design, and — to be honest — just about everything in the universe.</p>
    <p>Now based in China, I work full-time as a front-end developer. I’m drawn to projects that create beauty — whether through code, design, or meaningful ideas.</p>
    <p><b><i>I'm glad you're here!</i></b></p>
  </section>
  <section class="border-b border-gray-300 p-5 md:p-8">
    <Projects />
  </section>
  <section class="border-b border-gray-300 p-5 md:p-8">
    <Posts />
  </section>
</BaseLayout>