doctype html5
html
	head
		title Kurilabs
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href=`/style.css`)
	body
		.container
			p contenido
			p contenido
			p contenido
			p contenido
			input
			p contenido
			p contenido
			p contenido
			p contenido
			input
			p contenido
			input
			footer
				button el botón
