---
import { SITE } from "@/siteConfig.ts"
---

<header
  class="mx-auto flex max-w-screen-sm flex-wrap items-center justify-between border-b border-gray-300 bg-bg dark:bg-dark-bg p-3 pb-8 font-sans sm:p-6 md:static sticky"
>
  <a
    href="/"
    class="text-lg font-semibold text-black sm:text-xl dark:text-white"
    >{SITE.title}</a
  >
  {
    Astro.url.pathname !== "/" && (
      <nav>
        <ul class="flex list-none items-center gap-2 p-0 sm:gap-3">
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    )
  }
</header>
