---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import { getCollection } from "astro:content"
const projects = await getCollection("projects");
---

<BaseLayout>
  <SeoPage slot="head" title="Projects" />
  <section class="border-b border-gray-300 p-5 md:p-8">
    <Projects />
  </section>
</BaseLayout>
