---
import "../styles/global.css"
import "../styles/reset.css"

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const { pageTitle } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`Hellwoodwen - ${pageTitle}`}</title>
	</head>
	<body>
		<div class="general-container">
			<div class="header">
				<Header />
			</div>
			<main>
				<slot />
			</main>
			<div class="footer">
				<Footer />
			</div>
		</div>
	</body>
</html>

<style lang="less">
	@media (min-width: 992px) {
		.general-container {
			display: grid;
			grid-template-columns: minmax(250px, 1fr) repeat(3, 1fr);
			grid-template-areas:
				"header body   body   body  "
				"footer footer footer footer";
			min-height: 100vh;
			& > .header {
				grid-area: header;
			}

			& > main {
				grid-area: body;
			}
			& > .footer {
				grid-area: footer;
			}
		}
	}
</style>
